@model GeaWebMVC.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<div class="form-details col-md-6 col-md-offset-4">
    <h2>Empresa</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <div class="col-md-3 col-md-offset-2">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary " })
        @Html.ActionLink("Excluir", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary " })
        
    </div>
</div>

