@model GeaWebMVC.Models.Faturamento

@{
    ViewBag.Title = "Delete";
}


<div class=" form-horizontal col-md-8 col-md-offset-2">
    <h2>Faturamento</h2>
    <h3>Você tem certeza que deseja deletar ?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompetencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompetencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorCompetencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorCompetencia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
        </div>
    }
</div>
