@model GeaWebMVC.Models.Faturamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faturamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompetencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompetencia)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.ValorCompetencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorCompetencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Enviar Email", "SendEmail", new { id = Model.Id }) ||
    @Html.ActionLink("Back to List", "Index")
</p>
