@model IEnumerable<GeaWebMVC.Models.Faturamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCompetencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorCompetencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCompetencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorCompetencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
