@model GeaWebMVC.Models.RegistroDeFluxo

@{
    ViewBag.Title = "Detalis";
}


<div class="form-details col-md-6 col-md-offset-4">
    <h2>Registro de Fluxo</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carro.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Placa)
        </dd>              

        <dt>
            @Html.DisplayNameFor(model => model.Operador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorAPagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorAPagar)
        </dd>

    </dl>
    <div class="col-md-3 col-md-offset-4">
        @Html.ActionLink("Listar", "Index",null, new { @class = "btn btn-primary " })
    </div>
</div>

