
@{
    ViewBag.Title = "Menu Registro de Fluxo";
}


<div id="menuRegistroDeFluxo" class="row">
    <h2 class="col-md-6 col-md-offset-4">Menu Registro de Fluxo</h2>


    <div class="col-md-6 col-md-offset-4" id="codigo-registro">

        @if (@ViewBag.RegistroDeFluxoId != null)
        {
            <h2>Código Registro : @ViewBag.RegistroDeFluxoId</h2>
        }
    </div>


    <div class="row col-md-8 col-md-offset-4">

        <div class=" menuRegistroButton col-md-3">
            @Html.ActionLink("Nova Entrada", "Create", "RegistroDeFluxo", new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class=" menuRegistroButton col-md-3">
            @Html.ActionLink("Registrar Saída", "FindCodigoRegistro", "RegistroDeFluxo", new { @class = "btn btn-primary btn-lg " })
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
